.s3-add-files {
    margin-top: 36px;
    margin-bottom: 12px;
}

.s3-resize-message {
    color: #777777;
}

/* Hide the file upload controls to ensure that file attachments only come from S3. */
.add-new,
.drawer-contents {
    display: none;
}

.s3-existing {
    color: #C76941;
}

.s3-ineligible {
    color: #777777;
}

.s3-add {
    color: green;
}